name: Python Checks

on:
  push:
    branches:
      - master
  # pull_request:
  #   branches:
  #     - master
  #   types:
  #     - opened
  #     - reopened
  #     - synchronize
  #     - ready_for_review

concurrency:
  group: tests-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  run-template-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        template: [cpp, empty, image, rl, video]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install base package
        run: pip install -e '.[dev]'
      - name: Install template
        run: pip install -e '.[dev]'
        working-directory: ml/templates/${{ matrix.template }}
      - name: Run static checks
        run: |
          mkdir -p .mypy_cache
          MYPYPATH="$(realpath ../../..)" make static-checks
        working-directory: ml/templates/${{ matrix.template }}
      - name: Run unit tests
        run: make test
        working-directory: ml/templates/${{ matrix.template }}
